.Container {
    display: flex;
    flex-flow: row wrap;
    min-height: 100vh;
    flex-basis: 30%;
    justify-content: center;
}

.Container button {
    flex-basis: 100%;
}

@media (min-width: 600px) {
    .Container {
        flex-flow: row wrap;
        flex-basis: 30%;
        justify-content: center;
    }
}