.Nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 20px;
}
.List {
	list-style-type: none;
}

.List li {
	display: inline-block;
	padding: 0 30px;
	text-decoration: underline;
}

.Food {
	height: 90vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0,0,0,0.7)), url(../../../img/food.jpeg);
	background-position: center;
	background-size: cover;
}